:root {
  --brown: brown;
  --red: red;
  --cyan: #19667b;
  --orange: #df8869;
  --white: #ffffff;
  --yellow: yellow;
  --blue: blue;
  --gray: gray;
}

.debug {
  background-color: rgb(229, 166, 166);
  border: 1px solid black;
}

.my-container {
  background-color: var(--cyan);
}

header {
  width: 100%;
  height: 100px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.error-box {
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 100px;
  text-align: center;
  line-height: 70px;
  background-color: var(--cyan);
}

h1 {
  
  margin-bottom: 1rem;
  font-size: 4rem;
  color: var(--orange);
}

.wrapper {
  background-color: var(--white);
  width: 500px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
}



.done {
  color: var(--red);
  text-decoration: line-through;
  font-weight: 500;
}

.add-todo {
  margin-top: 1rem;
  min-width: 400px;
}

input {
  width: 95%;
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--cyan);
  padding-left: 1rem;
  font-family: inherit;
  font-size: .85rem;
  color: var(--blue);
}

.btn-add {
  height: 40px;
  width: 40px;
  border: 1px solid var(--cyan);
  background-color: var(--cyan);
  color: var(--white);
  font-size: 0.9rem;
  border-radius: 0 5px 5px 0;
}

li {
  cursor: pointer;
  width: 80%;
  margin: .25rem auto;
  padding: .15rem .45rem;
  border: 2px solid var(--cyan);
  border-radius: 5px;
}

.fa-trash-can {
  color: var(--orange);
  font-size: 1rem
}

input::placeholder{
  color: var(--blue);
  opacity: .5;
  font-family: inherit;
}

.box-title {
  width: 600px;
  height: 300px;
  margin: auto;
}

.title {
  height: 50%;
  text-align: center;
}
