:root {

  /* i colori  */
  --brown: brown;
  --red: red;
  --cyan: #29697b;
  --orange: #df8869;
  --white: #ffffff;
  --yellow: yellow;
  --blue: blue;
  --gray: gray;
  --black: black;

  /* le misure  */
  --w-50px: 50px;
  --h-50px: 50px;
  --w-60px: 60px;
  --h-60px: 60px;
  --h-40px: 40px;
}

.debug {
  background-color: rgb(229, 166, 166);
  border: 1px solid var(--black);
}

.my-container {
  background-image: linear-gradient(180deg, rgb(5, 37, 37) 10%, rgb(12, 247, 247));
 
}

header {
  width: 100%;
  height: 150px;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.error-box {
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 150px;
  text-align: center;
  line-height: 70px;
  
}

h1 {
  
  margin-bottom: 1rem;
  font-size: 4rem;
  color: var(--orange);
}

.wrapper {
  background-color: var(--white);
  width: 500px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
}



.done {
  color: var(--red);
  text-decoration: line-through;
  font-weight: 500;
}

.add-todo {
  margin-top: 1rem;
  min-width: 400px;
}

.input-text {
  width: 95%;
  height: var(--h-50px);
  border-radius: 10px;
  border: 1px solid var(--cyan);
  padding-left: 1rem;
  color: var(--blue);
}
.input-edit {
  width: 95%;
  height: var(--h-40px);
  border-radius: 10px;
  border: 1px solid var(--cyan);
  padding-left: 1rem;
  color: var(--blue);
}

.btn-add {
  width: var(--w-60px);
  height: var(--h-50px);
  border: 1px solid var(--cyan);
  background-color: var(--cyan);
  color: var(--white);
  padding-left: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
}

li {
  cursor: pointer;
  width: 80%;
  margin: .25rem auto;
  padding: .15rem .45rem;
  border: 2px solid var(--cyan);
  border-radius: 5px;
}

.fa-trash-can {
  color: var(--orange);
  font-size: 1rem
}

input::placeholder{
  color: var(--blue);
  opacity: .5;
  font-family: inherit;
}

.box-title {
  width: 600px;
  height: 300px;
  margin: auto;
}

.title {
  height: 50%;
  text-align: center;
}
